<div class="col-lg-12" *ngIf="isDone">

  <div class="col-lg-4">

    <div class="col-lg-12 block-background">

      <div class="profile-userpic">
        <!--<img class="img-circle center-block" style="width: 250px; height: 300px;"-->
        <!--src="https://avatars1.githubusercontent.com/u/15056371?v=3&s=400" data-holder-rendered="true"/>-->
        <img class="img-circle center-block" src="assets/avatar.png" style="width: 250px; height: 300px;"/>
      </div>

      <br/>

      <div>
        <a routerLink="/dialog" *ngIf="id == auth.id" class="btn btn-success" style="width: 100%">
          Message <span class="glyphicon glyphicon-envelope"></span>
        </a>
        <a *ngIf="id !== auth.id" routerLink="{{'/message/user/' + id}}"  class="btn btn-success" style="width: 100%">
          Message <span class="glyphicon glyphicon-envelope"></span>
        </a>
      </div>

      <br/>

      <div *ngIf="id !== auth.id">
        <p class="text-center">

          <button class="btn btn-md btn-info" (click)="actionFriend()" *ngIf="friendStatus == 'NOT_FOUND'">
            <span class="glyphicon glyphicon-plus"></span> Add friend
          </button>

          <button class="btn btn-md btn-info" (click)="actionFriend()" *ngIf="friendStatus == 'PROGRESS'">
            <span class="glyphicon glyphicon-plus"></span> Remove friend
          </button>

          <button class="btn btn-md btn-info" (click)="actionFriend()" *ngIf="friendStatus == 'FOLLOWER'">
            <span class="glyphicon glyphicon-plus"></span> Accept request
          </button>

          <button class="btn btn-md btn-info" (click)="actionFriend()" *ngIf="friendStatus == 'REQUEST'">
            <span class="glyphicon glyphicon-plus"></span> Remove request
          </button>

        </p>
      </div>

    </div>

  </div>

  <div class="col-lg-8">

    <div class="col-lg-12 block-background">
      <div>
        <a class="user-data-link " routerLink="{{'/user-home/' + currentUser.id}}" style="color: white">
          <p class="text-center" style="font-size: x-large">
            {{currentUser.firstName}} {{currentUser.lastName}}
          </p>
        </a>
      </div>
    </div>


    <div *ngIf="feedList && feedList.length > 0" class="col-lg-12 block-background" style="top:35px">
      <table style="width: 100%">
        <thead>
        <tr>
          <td></td>
        </tr>
        </thead>
        <tbody>

          <tr *ngFor="let f of feedList">
            <td>
              <div class="block-background div-white">
                <button *ngIf="f.sender.id == auth.id" (click)="removeFeed(f)" type="submit" class="btn btn-default btn-md pull-right">
                  <span class="glyphicon glyphicon-remove text-danger"></span>
                </button>
                <button *ngIf="f.toUser && f.toUser.id == auth.id" type="submit" class="btn btn-default btn-md pull-right">
                  <span class="glyphicon glyphicon-remove text-danger"></span>
                </button>
                <a routerLink="{{'/user-home/' +  f.sender.id}}" style="color: white">
                  {{f.sender.firstName}} {{f.sender.lastName}}
                </a>
                <span class="date-tweet">
                    {{f.date | date:'yyyy-MM-dd HH:mm:ss'}}
                </span>
                <div class="feed-link">
                  <br/>
                  <p>
                    {{f.content}}
                  </p>
                </div>
                <p>
                  <a class="tweet-tags" *ngFor="let t of f.listTags">
                    #{{t}}
                  </a>
                </p>
                <br/>
              </div>
              <br/>
            </td>
          </tr>

        </tbody>
      </table>
    </div>



  </div>

</div>
