<div class="block-background">
  <h3 class="text-white text-center">Direct messages</h3>
  <div class="block-channel-direct-list">
    <table class="table">
      <thead>
      <tr>
        <td></td>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let d of listDialog">
        <td>
          <li routerLinkActive="active">
            <button [routerLink]="['/channel', {outlets: {'channel-router': 'dialog/' + d.id + '/user/' + d.second.id}}]" class="text-white btn-link">
              {{d.second.firstName}}
              {{d.second.lastName}}
            </button>
          </li>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

</div>
