<div class="col-lg-10 col-lg-offset-1 block-background">
  <h3 class="text-white text-center">
    Security
  </h3>
  <br/>
  <br/>
  <br/>

  <div class="col-lg-6 col-lg-offset-3">
    <button class="btn btn-primary" data-toggle="modal" href="#modal-id" style="width: 100%">Terminate all sessions</button>
  </div>

</div>


<div class="modal fade" id="modal-id">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Terminate all sessions</h4>
      </div>
      <div class="modal-body">
        <h4 class="text-center" *ngIf="message">{{message}}</h4>
        <h4 *ngIf="!message" class="text-center"> After terminate, i'm redirect to login page. Are sure ?</h4>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-success pull-left" (click)="terminateSessions()">Run</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
