<div>
  <h3 class="text-white text-center">Direct messages</h3>
  <table class="table">
    <thead>
    <tr>
      <td></td>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        <li routerLinkActive="active">
          <a routerLink="{{ '/user-home/' + 5 }}" class="text-white">Maksim Lukaretskiy</a>
        </li>
      </td>
    </tr>
    <tr>
      <td>
        <li routerLinkActive="active">
          <a routerLink="{{ '/user-home/' + 6 }}" class="text-white">Yevgen Berberyan</a>
        </li>
      </td>
    </tr>
    <tr>
      <td>user2</td>
    </tr>
    <tr>
      <td>user2</td>
    </tr>
    <tr>
      <td>user2</td>
    </tr>
    <tr>
      <td>user2</td>
    </tr>
    <tr>
      <td>user2</td>
    </tr>
    </tbody>
  </table>
</div>
