<div>
  <h3 class="text-white text-center">
    <li>
      <a routerLink="{{ '/user-home/' + 5 }}" class="text-white">    Channels</a>
    </li>
  </h3>
  <table class="table">
    <thead>
    <tr>
      <td></td>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        <li routerLinkActive="active">
          <a routerLink="{{ '/user-home/' + 5 }}" class="text-white">#vj_spartan</a>
        </li>
      </td>
    </tr>
    <tr>
      <td>
        <li routerLinkActive="active">
          <a routerLink="{{ '/user-home/' + 5 }}" class="text-white">#general</a>
        </li>
      </td>
    </tr>
    <tr>
      <td>user2</td>
    </tr>
    <tr>
      <td>user2</td>
    </tr>
    <tr>
      <td>user2</td>
    </tr>
    <tr>
      <td>user2</td>
    </tr>
    <tr>
      <td>user2</td>
    </tr>
    </tbody>
  </table>
</div>
