<div class="col-md-10 col-lg-offset-2 div-white">

  <div>
    <div class="col-md-4 pull-right">
      <div class="block-background" style="width: 70%">
        <p class="text-center">
          <a class="text-white" routerLink="{{ '/user-home/' + currentUser.id }}">{{currentUser.firstName}} {{currentUser.lastName}}</a>
          <br/><br/>
          <span class="glyphicon glyphicon-user"></span><a routerLink="{{ '/friend/user/' + userId + '/progress'}}"
                                                           class="curs" style="color: white"> Friends</a>
          <br/>
          <span class="glyphicon glyphicon-share-alt"></span><a
          routerLink="{{ '/friend/user/' + userId + '/followers'}}" class="curs" style="color: white"> Followers</a>
          <br/>
          <span class="glyphicon glyphicon-question-sign"></span><a
          routerLink="{{ '/friend/user/' + userId + '/requests'}}" class="curs" style="color: white"> Friend request</a>
        </p>
      </div>
    </div>

    <div *ngIf="listFriend.length === 0 && isDone" class="col-md-8">
      <h2 class="text-center" style="color: white">Not found</h2>
    </div>

    <div class="friend" *ngIf="listFriend.length > 0 && isDone">
      <div class="col-md-7 block-background">
        <p class="pull-left">{{status.toLowerCase()}}</p>
        <br/>
        <table id="table-friend" class="table">
          <thead>
          <tr>
            <td></td>
            <td></td>
          </tr>
          </thead>
          <tbody>

          <tr *ngFor="let f of listFriend">
            <td style="width: 2%">
              <img data-src="holder.js/140x140" class="img-circle center-block" style="width: 100px; height: 100px;"
                   src="http://www.isu.edu.tw/upload/276e/9/coming-soon.jpg" data-holder-rendered="true">
            </td>
            <td style="width: 10%">
              <a routerLink="{{ '/user-home/' + f.second.id }}" style="color: white">
                {{f.second.firstName}}
                {{f.second.lastName}}
              </a>
            </td>
          </tr>

          </tbody>
        </table>
        <hr/>
      </div>
    </div>
  </div>


</div>
