<div>
  <table style="width: 100%">
    <thead>
    <tr>
      <td></td>
    </tr>
    </thead>
    <tbody>

    <tr *ngFor="let f of feedList">
      <td>
        <div class="block-background div-white">
          <div class="pull-right" *ngIf="f.sender.id == authUser.id || (f.toUser && f.toUser.id == authUser.id)">
            <a data-toggle="modal" href="#feed-delete" class="btn btn-danger btn-xs" (click)="beforeRemoveFeed(f)">
              <span class="glyphicon glyphicon-remove"></span>
            </a>
          </div>

          <a routerLink="{{'/user-home/' +  f.sender.id}}" style="color: white" routerLinkActive="active">
            {{f.sender.firstName}} {{f.sender.lastName}}
          </a>
          <span class="date-tweet">
                    {{f.date | date:'yyyy-MM-dd HH:mm:ss Z'}}
                </span>
          <div class="feed-link">
            <br/>
            <p>
              {{f.content}}
            </p>
          </div>
          <p>
            <a class="tweet-tags" *ngFor="let t of f.tags">
              #{{t}}
            </a>
          </p>
          <br/>
        </div>
        <br/>
      </td>
    </tr>

    </tbody>
  </table>
</div>


<div class="modal fade" id="feed-delete">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" style="color: black">Are you sure ?</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger pull-left" (click)="removeFeed()" data-dismiss="modal">Delete
        </button>
      </div>
    </div>
  </div>
</div>




