<div id="content-dialog" class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-1 div-white block-background" *ngIf="message.length > 0">

  <h4>
    <span class="glyphicon glyphicon-th-list"></span>
    Dialog
    <a style="color: white" routerLink="{{ '/user-home/' + authUser.id}}">{{authUser.firstName}} {{authUser.lastName}}</a>
  </h4>

  <div class="col-md-12 col-sm-10">

    <table class="table">
      <thead>
      <tr>
        <td></td>
        <td></td>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let m of message">
          <td style="width: 2%">
            <img data-src="holder.js/140x140" class="img-circle center-block" style="width: 100px; height: 100px;"
                 src="http://www.isu.edu.tw/upload/276e/9/coming-soon.jpg" data-holder-rendered="true">
          </td>
          <td style="width: 10%">
            <li>
              <a style="color: white" routerLink="{{'/message/user/' +  m.dialog.second.id}}">
                <p>{{m.dialog.second.firstName}} {{m.dialog.second.lastName}}</p>
                <hr/>
                <p style="color: white"><span class="glyphicon glyphicon-pencil"></span>
                  {{m.sender.firstName}} {{m.sender.lastName}}
                  <br/><br/> <span class="glyphicon glyphicon-envelope"></span> {{m.message}} </p>
                <hr/>
              </a>
            </li>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
